* {
    margin: 0;
}
/* mail länk */ 
.mail {
    padding-top: 20px;
    font-family: arial;
    right: 30px;
    text-align: right;
    position: fixed;
    text-decoration: none;
    color: black;

}

.mail:hover {
    color: rgb(217,217,217);
}

.barzi_stor {
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
 
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: ;
    font-family: arial;
    padding: 10px;
    padding-top: 20px;;
  
}


a {
    color: black;
    text-decoration: none;
    outline: none;

}

a:link {
    color:black;
}

a:visited {
    color: black;
}

a:focus {
    
    
    
}

a:hover {
    
    color: rgb(217,217,217);
}

a:active {
    color: rgb(217,217,217);
}
 


.flex_ed {
    padding-top: 50px;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
   
}

.bergska {
    border-color: black;;
    border-bottom: black;
    border-style: solid;
}

.barzi_head {
    flex: 20px;
    position: relative;
    right: 40px;
    top: 120px;
    font-size: 100px;
    font-family: 'DM Sans', sans-serif;
font-family: 'Oswald', sans-serif;
    font-weight: 472;
    line-height: 115px;
    


}

body {
    background-color: rgb(242,242,242);
}

.touch {
    position: fixed;
    text-align: right;
    font-family: arial;
    right: 30px;
    bottom: 60px;
    
}


.om_mig {
    padding-top: 50px;;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: lightseagreen;
    border-style: solid;
}

.om_mig_2 {
    padding-top: 50px;;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: lightseagreen;
    border-style: solid;
    flex-wrap: wrap;
}

.om_mig_par {
    flex: 100px;
    padding-left: 20px;
    padding-top: 30px;
    
}



footer {
    position: relative;
    font-family: arial;
    top: 120px;
    text-align: center;
    font-weight: 100;
}


