* {
    margin: 0;
}
/* mail länk */ 
.mail {
    padding-top: 20px;
    font-family: arial;
    right: 30px;
    text-align: right;
    position: fixed;
    text-decoration: none;
    color: black;

}

.mail:hover {
    color: rgb(217,217,217);
}
/* barzi aziz i fetstil i menyn */
.barzi_stor {
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
 
}
/* menyn */
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: ;
    font-family: arial;
    padding: 10px;
    padding-top: 20px;;
  
}


nav a {
    color: black;
    text-decoration: none;
    outline: none;
    

}


a:link {
    color:black;
}

a:visited {
    color: black;
}

a:focus {
    
    
    
}

a:hover {
    
    color: rgb(217,217,217);
}

a:active {
    color: rgb(217,217,217);
}
 

/* bild på mig */
.flex_ed {
    padding-top: 50px;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
   
}
/* bergska länk */
.bergska {
    font-weight: 800;
}
/* mitt namn på bilden i första sidan*/
.barzi_head {
    flex: 20px;
    position: relative;
    right: 40px;
    top: 120px;
    font-size: 100px;
    font-family: 'DM Sans', sans-serif;
font-family: 'Oswald', sans-serif;
    font-weight: 472;
    line-height: 115px;
   
    


}
/* bakgrundfärg på hela */
body {
    background-color: rgb(242,242,242);
}
/* hör av dig länk*/
.touch {
    position: fixed;
    text-align: right;
    font-family: arial;
    right: 30px;
    bottom: 60px;
    
}

/* om mig sektion*/
.om_mig {
    
    padding-top: 50px;
    font-size: 10px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    
    
}
/* about me rubrik */
.about_me {
    font-size: 90px;
    position: relative;
    top: 40px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
        font-weight: 472;
        line-height: 115px;
    
}
/* om mig sektion, uppdelat för att styla*/
 .om_mig_2 {
    position: relative;
    bottom: 380px;
    padding-top: 0px;;
    padding-left: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
 
}
/* om mig text*/
.om_mig_par {
    flex: 100px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
  
   
    
    
       
    
    
}


/* footer*/
footer {
    position: relative;
    font-family: arial;
    top: 120px;
    text-align: center;
    font-weight: 100;
    padding-bottom: 20px;
}

/* kontakt sektion*/
.get_touch_head {
    
    padding-left: 250px;
    font-size: 90px;
    font-weight: 200px;
    line-height: 100px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    


}
/* kontakt uppgifter*/
.kontakt {
    display: flex;
    flex-direction: row;
    align-items: center; 
    
    padding-top: 80px;
    justify-content: space-evenly;
    padding-right: 600px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    
    
    
}




