* {
    padding: 0;
    margin: 0;

}

.mail {
    top: 20px;
    font-family: arial;
    right: 30px;
    text-align: right;
    position: fixed;
    text-decoration: none;
    color: black;

}

.mail:hover {
    color: rgb(217,217,217);
}


nav {
    position: fixed;
    top: 20px;
    
    
}



ul {
    
    

}

ul li {
    
    
    
    
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: arial;
    padding: 0 30px;
}

ul li a:hover {
    color: rgb(217,217,217);
}

.barzi_rubrik {
    font-weight: 20px;
}
.rubrik {
    position: relative;
    left: 700px;
    top: 150px;
    z-index: 10;
    font-size: 100px;
    font-family: 'Merriweather', serif;
}

.ed {
    position: relative;
    bottom: 150px;
    left: 400px;
    z-index: 5;
    
    
}

body {
    background-color: rgb(242,242,242);
}

.touch {
    position: fixed;
    text-align: right;
    font-family: arial;
    right: 30px;
    bottom: 60px;
    font-weight:
    
}

.intresse {
    position: relative;
    top: 300px;
}

footer {
    text-align: center;
    font-family: arial;
}


